@import url('variable.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--primary-font);
    font-weight: var(--font-weight-base);
}

body {
    background-color: var(--color-white);
}

.container {
    display: flex;
    flex-direction: row;
}

aside {
    font-family: var(--primary-font);
    font-size: var(--font-szie-base);
    background-color: var(--primary-color);
    color: var(--color-white);
    width: 200px;
    height: 100vh;
    padding: 20px 0;
}

aside h3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

/* navigation bar */
nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90vh;
    padding: 10px 0;
    width: 100%;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul:first-child {
    padding-bottom: 10px;
    margin-bottom: 20px;
}

nav ul:last-child {
    border-top: 1px solid #ccc;
}

nav ul li {
    margin: 5px 0;
}

nav ul li a{
    text-decoration: none;
    display: flex;
    align-items: center;
    font-weight: var(--font-weight-small);
    color: var(--color-white);
    padding: 5px 0px 5px 20px;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

nav ul li a i.material-icons {
    margin-right: 10px;
    font-size: var(--font-size-large);
}

nav ul li a:hover {
    background-color: var(--color-white);
    color: var(--primary-color);
    border-radius: 0;
}

/* main */
main {
    flex-grow: 1;
    padding: 20px;
    background-color: #ecf0f1;
}

article {
    margin-bottom: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}